{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block js_header %}
    <script>
        new WOW().init();

    $(document).ready(function(){
          $('[name=no_access_code]').val('false'); 
          var no_access_btn = $('#no_accesscode_btn');
          no_access_btn.bind("click", function(){
              $('[name=no_access_code]').val('true'); 
          });
        });
    </script>
{% endblock %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
        </div>
        <div class="col-md-2">&nbsp;</div>
            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}
 {% block content %}
    <div class="container wow bounceInLeft">
        <h1 class="onboardingtitle">{% trans "Enter Your Access Code :"%}</h1>
    </div>

    <div class="container wow bounceInUp">
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8 stopitline">&nbsp;
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <form action="/terms/" method="post">{% csrf_token %}

                    <div class="form-group">
                        <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
                        <div id="ppbartxt"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                 <input type="text" name="intellicode" maxlength="15" size="15" placeholder="{% trans "Enter Code" %}" autocomplete="off"
                                        id="pass" style="padding:12px;">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group ">
                                <input type="submit" value="{% trans "Next" %} >" id="next_btn" disabled class="stopitbutton">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div id="pbar"></div>
                    </div>

                    <div class="form-group generaltxt">
                        <label class="generaltxt">{% trans "Remember this computer?" %}</label>
                    </div>
                    <div class="form-group generaltxt">
                        <input type="radio" id="keep_logged_in_yes" name="keep_logged_in" value="1" checked="checked"> <label for="keep_logged_in_yes" class="generaltxt">{% trans "Yes, I am the only person who uses this computer. Please keep me logged in in the future." %}</label>
                    </div>
                    <div class="form-group generaltxt">
                        <input type="radio" id="keep_logged_in_no" name="keep_logged_in" value="0"> <label for="keep_logged_in_no" class="generaltxt">{% trans "No, this is a public or shared computer." %} </label>
                    </div>
                    <div class="form-group ">
                        &nbsp;
                    </div>
                </form>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8 stopitline">&nbsp;
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    </div>
{% endblock %}
