{% load i18n %}{% load staticfiles %}{% load custom_tags %}<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% trans "STOPit - Web Application" %}{% block title %}{% endblock %}</title>
        <link href="{% cache_buster "assets/css/stopit.min.css" %}" rel="stylesheet" media="screen" />
        <link href="{% cache_buster "assets/css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% cache_buster "assets/css/animate.css" %}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% cache_buster "assets/fx/jquery-ui-themes-1.12.1/jquery-ui.min.css" %}" type="text/css" media="all" />
        <link rel="shortcut icon" href="{% cache_buster "assets/img/favicon.ico" %}">
        {% block css_header %}{% endblock %}
        <script src="{% cache_buster "assets/fx/jquery-1.12.4.min.js" %}"></script>
        <script src="{% cache_buster "assets/fx/bootstrap/bootstrap.min.js" %}"></script>
        <script src="{% cache_buster "assets/fx/vendor/modernizr.js" %}"></script>
        <script src="{% cache_buster "assets/fx/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
        <script src="{% cache_buster "assets/fx/wow.min.js" %}"></script>
        <script src="{% cache_buster "assets/js/global.min.js" %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% block js_header %}{% endblock %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-60191514-2', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
{% captureas stopit_img %}{% cache_buster "assets/img/stopit.png" %}{% endcaptureas %}
{% captureas cookie_js %}{% cache_buster "assets/fx/js-cookie.js" %}{% endcaptureas %}
{% captureas blop %}{% cache_buster "assets/sounds/blop.mp3" %}{% endcaptureas %}
{% captureas Incident_Messenger_Page_PhotoBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_PhotoBTN.png" %}{% endcaptureas %}
{% captureas Incident_Messenger_Page_SendBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_SendBTN.png" %}{% endcaptureas %}
{% captureas WebApp_help_Icon %}{% cache_buster "assets/img/WebApp_help_Icon.png" %}{% endcaptureas %}
{% captureas Incident_Messenger_Page_MessengerBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_MessengerBTN.png" %}{% endcaptureas %}
{% captureas WebApp_BlueDots %}{% cache_buster "assets/img/WebApp_BlueDots.png" %}{% endcaptureas %}
{% captureas WebApp_closeBTN %}{% cache_buster "assets/img/WebApp_closeBTN.png" %}{% endcaptureas %}
{% captureas users_gray_img %}{% cache_buster "assets/img/users_gray.png" %}{% endcaptureas %}
{% captureas user_gray_img %}{% cache_buster "assets/img/user_gray.png" %}{% endcaptureas %}
{% captureas validate_js %}{% cache_buster "assets/fx/jquery.validate.min.js" %}{% endcaptureas %}
{% captureas manage_contacts_help_img %}{% cache_buster "assets/img/manage_contacts_help.png" %}{% endcaptureas %}
{% captureas edit_contact_help_img %}{% cache_buster "assets/img/edit_contact_help.png" %}{% endcaptureas %}
{% captureas submit_incident_help_img %}{% cache_buster help_img_uri %}{% endcaptureas %}
    <body class="stopit">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="halfspacer"></div>
                <div class="halfspacer"></div>
                <a class="brand" style="margin: 0; float: none; left: 48%;" href="/login/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="left: 90%;" >
                        <li class="dropdown stopitsubtitle">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                {% trans "Menu" %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu nav navbar-nav navbar-right">
                                <li>
                                    <a href="/login/">
                                        {% trans "Report/Get Help" %}
                                    </a>
                                </li>
                                {% block help_link %}{% endblock %}
                                <li>
                                    <a href="/terms/">
                                        {% trans "Terms of Use" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="showLogoutConfirmation(); return false;">
                                        {% trans "Enter New Access Code" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a class="brand" style="margin: 0; float: none; left: 48%;" href="/login/">
                    {% if LOGO_PATH %}
                        <img src={{ LOGO_PATH }}  style="padding-top:10px;" height="50px">
                    {% endif %}
                </a>
                <!--/.nav-collapse -->
                <div class="dialog" id="dialog" title="STOPit Messenger" style="display:none;"></div>
            </div>
        </nav>

{% block content %}{% endblock %}

        <!-- footer -->
        <div class="spacer"></div>
        <div class="spacer"></div>
        <nav class="navbar-fixed-bottom navbar-default spacer">
            <div class="halfspacer"></div>
            <div class="halfspacer"></div>
            <div class="container">
                <p class="text-muted text-center">
                    &copy; 2015 STOPit
                </p>
            </div>
        </nav>
        <!-- end footer -->

        <script type="text/javascript" language="JavaScript">
            var inFormOrLink = false;
            $(document).ready(function() {
                $('a').on('click', function() { inFormOrLink = true; });
                $('form').on('submit', function() { inFormOrLink = true; });

        {% if request.session.keep_logged_in == 0 %}
                startSessionCountDown(parseInt('{{ request.session.keep_logged_in }}',10));
                document.body.addEventListener('mousedown', function(){ recordActivity(parseInt('{{ request.session.keep_logged_in }}', 10)) }, true);
        {% endif %}
            });

            $(window).unload(function() {
                clearInterval(getOfflineMessagesOtherInt);
            });

            window.onbeforeunload = function() {
                if('{{ request.session.keep_logged_in }}' === '0'){
                    if(!inFormOrLink){
                        console.log("logging out the public user");
                        expireSession(1); //logout if public computer
                    }
                }
            };
        </script>

{% block js_footer %}{% endblock %}

    </body>
</html>
