{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block js_header %}
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block help_link %}
<li><a href="/help_contact_list/">{% trans "Help" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
{% endblock %}

{% block content %}
    <div class="row wow bounceInDown">
      <div class="col-md-12">
        <h1 class="stopittitle">{% trans "Manage Report Contacts" %}</h1>
      </div>
    </div>


    <div class="container wow bounceInUp">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 panel">
                  <div class="row">
                        <h3>
                             &nbsp;  &nbsp; <img src="{{ users_gray_img }}" width="20px" > &nbsp;  &nbsp; <a href="/edit_contact?contact_id=0" class="stopitsubtitle">{% trans "Add a new Report Contact" %}</a>
                        </h3>
                    </div>
            {% for contact in contacts %}
                {% if contact.org_id  == 0 %}
                    <div class="row">
                        <h3>
                             &nbsp;  &nbsp; <img src="{{ user_gray_img }}" width="20px" height="20px"> &nbsp;  &nbsp; <a href="/edit_contact?contact_id={{ contact.user_id }}" class="stopitsubtitle">{{ contact.name }}</a>
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            <div class="col-md-4">&nbsp;</div>
      </div>
    </div>

{% endblock %}
