{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}
    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">&nbsp;</h1></div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>


        <div class="container panel">
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-4">&nbsp;<div class="spacer">&nbsp;</div></div>
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <form>
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">&nbsp;<h1 class="stopitsubtitle">{{ reason }}</h1></div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-1">&nbsp;<input type="submit" formaction="/logout" class="centered stopitcancelbutton" value="Logout"></div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            </form>
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-4">&nbsp;<div class="spacer">&nbsp;</div></div>
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>

            </div>
{% endblock %}

