{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% block js_header %}
    <script src="{{ validate_js }}"></script>
    <script>
        new WOW().init();
          $(function() {

            // Setup form validation on the #register-form element
            $("#contact_form").validate({

                // Specify the validation rules
                rules: {
                    name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    mobile_phone: {
                        required: false,
                        minlength: 10
                    }
                },

                // Specify the validation error messages
                messages: {
                    name: "{% trans "Please enter contact name" %}",
                    email: "{% trans "Please enter a valid email address" %}",
                    mobile_phone: "{%  trans "Please provide phone number" %}"
                },

                submitHandler: function(form) {
                    form.submit();
                }
            });

            $("#delete").click(function(){
                var ans = confirm('{% trans "Are you sure you want to delete this contact?" %}');
                return ans;
            });

          });

    </script>
{% endblock %}

{% block help_link %}
<li><a href="/help_edit_contact/">{% trans "Help" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
{% endblock %}

{% block content %}
    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">
                    {% if ADD_MODE  == 1 %}
                    {% trans "Add" %}
                    {% else %}
                    {% trans "Edit" %}
                    {% endif %}
                     {% trans "Report Contact" %}</h1>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>


    <form action="/save_contact/" method="post" id="contact_form">{% csrf_token %}

        {% if CURRENT_CONTACT.user_id  %}
        <input type="hidden" name="user_id" value="{{ CURRENT_CONTACT.user_id }}">
        <input type="hidden" name="is_get_help" value="{{ CURRENT_CONTACT.is_get_help }}">
        <input type="hidden" name="is_trusted" value="{{ CURRENT_CONTACT.is_trusted }}">
        <input type="hidden" name="is_one_touch" value="{{ CURRENT_CONTACT.is_one_touch }}">
        {% else %}
        <input type="hidden" name="user_id" value="0">
        <input type="hidden" name="is_get_help" value="N">
        <input type="hidden" name="is_trusted" value="Y">
        <input type="hidden" name="is_one_touch" value="N">
        {% endif %}

        <div class="container wow bounceInUp">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6 panel  center">

                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6 panel  center">
                            <div class="form-group">
                                <label class="stopittoplabel"><font color="red">*</font> {% trans "All fields required" %}</label>
                            </div>
                            <div class="form-group">
                                <label class="stopitlabel"><font color="red">*</font> {% trans "Name" %}</label>
                            </div><div class="form-group">
                            <input name="name" type="text" class="stopitinput" placeholder="{% trans "Name" %}" value="{{ CURRENT_CONTACT.name }}"/>
                        </div>
                            <div class="form-group">
                                <label class="stopitlabel">{% trans "Mobile Phone" %}</label>
                            </div><div class="form-group">
                            <input name="mobile_phone" type="tel" class="stopitinput"  maxlength="10" placeholder="{% trans "Mobile Phone" %}" value="{{ CURRENT_CONTACT.mobile_phone }}"/>
                        </div>

                            <div class="form-group">
                                <label class="stopitlabel"><font color="red">*</font> {% trans "Email" %} </label>
                            </div><div class="form-group">
                            <input name = "email" type="text" class="stopitinput"  placeholder="{% trans "Email" %}" value="{{ CURRENT_CONTACT.email }}"/>
                        </div>

                            <a href="/manage_contacts"><input type="button" value="{% trans "Cancel" %}" id="cancel" class="stopitbutton"></a>
                            {% if CURRENT_CONTACT.user_id  %}
                            <input type="submit" value="Delete" id="delete"  name="delete" class="stopitbutton">
                            {% endif  %}
                            <input type="submit" value="{% trans "Save" %}" id="save"  name="save" class="stopitbutton">
                        </div>
                        <div class="col-md-3">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
