{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block js_header %}
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}

 {% block content %}
    <div class="row wow bounceInDown">
      <div class="large-12 columns">
        <h1 class="onboardingtitle">{% trans "Enter Your Login Information" %}</h1>
      </div>
    </div>


    <div class="container wow bounceInUp">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8 stopitline">&nbsp;
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <span class="orgtitle">{{ org_name }}</span>
                <form action="/loginviainfo/" method="post">{% csrf_token %}
                    <input type="hidden" name="org_id" value="{{ org_id }}"/>
                    <input type="hidden" name="roster_type" value="{{ roster_type }}"/>

                    <input type="hidden" name="org_type" value="{{ org_type }}"/>
                    <input type="hidden" name="country_code" value="{{ country_code }}"/>
                    <input type="hidden" name="state_code" value="{{ state_code }}"/>
                    <input type="hidden" name="org_name" value="{{ org_name }}"/>

                    <div class="form-group">
                        <input type="text" name="last_name" maxlength="120" id="last_name" placeholder="Last Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" name="roster_id" maxlength="120" id="roster_id" placeholder="{{ roster_label }}" autocomplete="off">
                    </div>
                    <div class="form-group generaltxt">
                        <label class="generaltxt">{% trans "Remember this computer?" %}</label>
                    </div>
                    <div class="form-group generaltxt">
                        <input type="radio" id="keep_logged_in_yes" name="keep_logged_in" value="1"> <label for="keep_logged_in_yes" class="generaltxt">{% trans "Yes, I am the only person who uses this computer. Please keep me logged in in the future."%}</label>
                    </div>
                    <div class="form-group generaltxt">
                        <input type="radio" id="keep_logged_in_no" name="keep_logged_in" value="0" checked="checked"> <label for="keep_logged_in_no" class="generaltxt"> {% trans "No, this is a public or shared computer." %}</label>
                    </div>
                    <div class="form-group ">
                        &nbsp;
                    </div>
                    <input type="submit" value="{%  trans "Next" %}" id="submit_button" class="stopitbutton" disabled>
                </form>
            </div>
            <div class="col-md-2">&nbsp;</div>

        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8 stopitline">&nbsp;
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
{% endblock %}
