{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}
<div id="top_gradient"></div>
<h1 class="text-info">login failed</h1>
{% endblock %}


