{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block js_header %}
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}

 {% block content %}

    <div class="row wow bounceInDown">
      <div class="large-12 columns">
          {%  if "ja" != LANGUAGE_CODE %}
                <h1 class="onboardingtitle">{% trans "Find Your" %} {{ ORG_TYPE_DESC }} </h1>
              {% else %}
                <h1 class="onboardingtitle">
                    {% if ORG_TYPE_DESC == '学校' %}
                        {% trans "Find Your School" %}
                        {% elif  ORG_TYPE_DESC == '大学' %}
                        {% trans "Find Your College" %}
                        {% elif  ORG_TYPE_DESC == '組織' %}
                        {% trans "Find Your Organization" %}
                        {% else %}
                        {% trans "Find Your Organization" %}
                    {% endif %}
                </h1>
          {% endif %}
      </div>
    </div>



    <div class="row wow bounceInUp">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
{% for org in orgs %}
            <div class="row stopitline">
                <h3>
                     &nbsp;  &nbsp; <img src="{% static 'img/' %}{{ IMAGE_FILE }}" width="20px" height="20px" class="wow rollIn"> &nbsp;  &nbsp; <a href="/enterlogininfo/{{ org_name|safe }}/?country_code={{ country_code }}&state_code={{ state_code }}&org_type={{ org_type }}&code={{ org.org_id }}&roster_type={{ org.roster_type }}&roster_label={{ org.roster_label }}" class="stopitmenuitem">{{ org.org_name }}</a>
                </h3>
            </div>
{% endfor %}

      </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
{% endblock %}
