{% extends "base.html" %}{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">{% trans "Help" %}</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 panel">
                <p>With STOPit, you can report incidents which contain one or more images or videos, a message, or both.</p>
                <p>To report an incident using a web browser, go to the Create an Incident Report screen. This is the main screen that will open when you log in. From any other screen, click the Report Incident button at the top left.
</p>
                <p>Once on the Create an Incident Report screen, use the text box to enter a message or add a note. To include one or more photos or videos, select the Choose Files button.
</p>
                <p>By default, your report will submit anonymously. If you wish to include your name with your report, uncheck the Report Anonymously box.</p>

                <p>Then to the right of the screen select the recipients you wish to receive the incident report.</p>

                <p>When ready to submit your report, press Send.</p>

                <p>When successfully submitted, you will receive a confirmation message. You can then choose to submit another report, or to log out.</p>


                <p>{% trans "For more help, please Contact Us:" %}</p>
                {% trans "Visit our website:" %} <a href="http://www.stopitsolutions.com" target="_blank">stopitsolutions.com</a><br/>
                {% trans "Email Us:" %} <a href="mailto:support@stopitsolutions.com">support@stopitsolutions.com</a><br/>
                {% trans "Call Us:" %} 1.855.999.0932<br/>
                {% trans "Support Hours: 9am - 5pm ET, Monday - Friday" %}<br/>


            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
{% endblock %}
