{% extends "base.html" %}{% load staticfiles %}{% load i18n %}{% load custom_tags %}{% block css_header %}
        <link rel="stylesheet" href="{% cache_buster "assets/fx/candy-2.2.0/libs.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% cache_buster "assets/fx/candy-2.2.0/res/default.css" %}" type="text/css" />
        <style>
            *:focus {
                outline: none;
            }

            a:focus, a:active,
            button::-moz-focus-inner,
            input[type="reset"]::-moz-focus-inner,
            input[type="button"]::-moz-focus-inner,
            input[type="submit"]::-moz-focus-inner,
            select::-moz-focus-inner,
            input[type="file"] > input[type="button"]::-moz-focus-inner {
                border: 0;
                outline : 0;
            }

            .bubbleLeft
            {
                position: relative;
                height: auto;
                float: left;
                clear: left;
                padding: 15px;
                background: #58a8e9;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                border-radius: 14px 14px 14px 0;
                border: #58a8e9 solid 1px;
                color: white;
                text-align: left;
                font-family: "Source Sans Pro Semibold", sans-serif;
                display: table;
                table-layout: fixed;
                margin: 4px;
                width: auto;
            }

            .bubbleRight
            {
                position: relative;
                height: auto;
                float: right;
                clear:right;
                padding: 15px;
                background: #52237e;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                border-radius: 14px 14px 0 14px;
                border: #52237e solid 1px;
                color: white;
                text-align: right;
                display: table;
                font-family: "Source Sans Pro Semibold", sans-serif;
                table-layout: fixed;
                margin: 4px;
                width: auto;
            }

            .chatDateLeft
            {
                position: relative;
                float: left;
                clear: left;
                font-size: small;
                color: #808080;
            }

            .chatDateRight
            {
                position: relative;
                float: right;
                clear: right;
                font-size: small;
                color: #808080;
            }
            .bubbleText
            {
                display: table-cell;
                vertical-align: middle;
                width: auto;
                min-height: 50px;
                max-width: 260px;
                min-width: 30px;
                word-wrap: break-word;
            }

            .customBox
            {
                width: 38%;
                margin-left: 22px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
            }
            .customMessengerBox
            {
                width: 15%;
                margin-left: 22px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
            }
            .customResourceBox
            {
                width: 15%;
                margin-left: 22px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 25px;
                -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
            }
            .customHr {
                width: 95%;
                font-size: 1px;
                color: rgba(0, 0, 0, 0);
                line-height: 1px;

                background-color: grey;
                margin-top: -6px;
                margin-bottom: 10px;
            }
        </style>
{% endblock %}
{% block js_header %}
        <script src="{{ cookie_js }}"></script>
        <script src="{% cache_buster "assets/fx/candy-2.2.0/libs.bundle.js" %}"></script>
        <script src="{% cache_buster "assets/fx/candy-2.2.0/candy.bundle.js" %}"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript" language="JavaScript">
            var msgr = {
                jid: '',
                host: '',
                org_id: '',
                username: '',
                send_to: '',
                room_domain: '',
                assets: '',
                room_count: 0,
                rooms: [],
                closed_rooms: [],
                empty_msg: gettext('For your security, your organization has decided not to display older messages as part of this conversation. If you have any questions or concerns please see your system administrator.'),
                closed_msg: gettext('This conversation and related incident has been closed by your administrator. No new messages may be sent. To send additional information about this incident or to submit a new incident please create a new Report using the STOPit App.')
            };
            function loadMessenger(){
                var autoJoinValue = true;
                var prePopulateRooms = false;
                $.ajax('/messenger/')
                    .done(function(response){
                        if (typeof(response) != 'undefined' && typeof(response.messenger_sid) != 'undefined'){
                            var httpBindPath = '/http-bind/';
                            var messengerAssets = response.messenger_assets;
                            msgr.jid = response.messenger_jid;
                            msgr.username = msgr.jid.substr(0, msgr.jid.indexOf('@'));
                            msgr.host = response.messenger_host;
                            msgr.room_domain = response.messenger_room_domain;
                            msgr.org_id = response.org_id;
                            msgr.send_to = 'org_admin_'+response.org_id+'@'+msgr.host;
                            msgr.assets = '//' + response.messenger_assets;
                            if (typeof(response.bind_proxy) != 'undefined'){
                                httpBindPath = response.bind_proxy;
                            }

                            if (typeof(response.messenger_rooms) != 'undefined') {
                                msgr.rooms = response.messenger_rooms;
                                msgr.room_count = response.messenger_rooms.length;
                                autoJoinValue = [];
                                for (var x = 0; x < msgr.room_count; x++){
                                    var incidentRoom = response.messenger_rooms[x];
                                    var roomID = incidentRoom.roomid + msgr.room_domain;
                                    if (typeof(incidentRoom.incident_closed) != 'undefined' && incidentRoom.incident_closed == 1){
                                        msgr.closed_rooms.push(roomID);
                                    }
                                    autoJoinValue.push(roomID);
                                }
                            }

                            if (msgr.room_count > 0){
                                // load Candy only if an active conversation exists.
                                $('div.no-messenger').addClass('hidden');
                                $('div.messenger-on').removeClass('hidden');
                                prePopulateRooms = true;
                            }

                            Candy.init(httpBindPath, {
                                core: {
                                    debug: false,
                                    autojoin: autoJoinValue,
                                    org_id: response.org_id,
                                    domain: response.messenger_host,
                                    history: response.history,
                                    stopit_assets: response.messenger_assets
                                },
                                view: { assets: '//'+ messengerAssets +'assets/fx/candy-2.2.0/res/' }
                            });
                            Candy.Core.attach(response.messenger_jid, response.messenger_sid, response.messenger_rid);
                        }
                    }
                );
            }

            function loadRoomHistory(roomJID){
                if (typeof(Candy.Core) == 'undefined'){
                    return false;
                }

                var incidentRoomId = roomJID.substr(0, roomJID.indexOf('@'));
                if (Candy.View.Pane.Chat.rooms[roomJID]){
                    if ($.inArray(roomJID, msgr.closed_rooms) > -1){
                        alertForClosedConversation(roomJID);
                    }
                    $.ajax('/messenger_history/' + incidentRoomId)
                        .done(function(response){
                            if (typeof(response) != 'undefined'){
                                for (var idx = 0; idx < Object.keys(response).length; idx++){
                                    var idxMessage = response[idx];
                                    Candy.View.Pane.Message.show(
                                        roomJID,
                                        idxMessage.fromJID.substr(0, idxMessage.fromJID.indexOf('@')),
                                        idxMessage.body,
                                        idxMessage.body,
                                        idxMessage.sentDate,
                                        idxMessage.fromJID,
                                        false,
                                        idxMessage.body
                                    );
                                }
                                // marking messages as read.
                                markRoomMessagesAsRead(Candy.Core.getOptions().org_id, incidentRoomId);
                            }
                        });
                }
            }

            $(document).ready(function(){
                $('#chatButton').attr("disabled", false);
                $('#chatButton2').attr("disabled", false);

                $('#chatButton, #chatButton2').click(function(e) {
                    openChatWindow('{{ after_hours_on }}', '{{ after_hours_message }}');
                    return false;
                });
                $('#help_icon').click(function(e) {
                    window.location.href = '/help_incident/';
                    return false;
                });
                $('#close_icon').click(function(e) {
                    closeChatWindow();
                    try {
                        Cookies.remove('AWSELB');
                    } catch (Exception){}
                    e.stopPropagation();
                });

                loadMessenger();
            });

        </script>
{% endblock %}

{% block help_link %}
<li>
    <a href="/help_incident/">{% trans "Help" %}</a>
</li>
{% endblock %}
{% block content %}
    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">&nbsp;</h1>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <!-- Begin page content -->

    <div class="container" style="background-color: #FFF; width: 1430px; height: 590px;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" align="right" style="width: 250px; margin-left: 60px;margin-top: 20px; margin-bottom: 2px;">
                    <Label for="notes"><span class="stopitsubtitle" style="font-size: 18px;">{% trans "Report" %}</span></Label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group" style="width:250px; margin-left: 250px; margin-top: 20px; margin-bottom: 2px;">
                    <Label for="notes"><span class="stopitsubtitle" style="font-size: 18px;">{% trans "Messenger" %}</span></Label>
                </div>
            </div>
             <div class="col-md-4">
                <div class="form-group" style="width:250px; margin-left: 200px; margin-top: 20px; margin-bottom: 2px;">
                    <Label for="notes"><span class="stopitsubtitle" style="font-size: 18px;">{% trans "Get Help" %}</span></Label>
                </div>
            </div>
        </div>
        <div class="row"><!-- main row -->
            <div class="col-xs-4 col-md-4 customBox" style="min-width: 200px;"><!-- half page column -->
                <form id="incidentform" action="/file_incident/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="margin-left: 10px;">
                        <div class="form-group" style="margin-left: 8px; margin-top: 20px; margin-bottom: 2px;">
                            <Label for="notes"><span class="stopitsubtitle" style="color:black; font-size: 15px;">{% trans "Incident Message:" %}</span></Label>
                        </div>
                        <div class="form-group" style="margin-left: 8px;">
                            <textarea rows="10" placeholder="{% trans "Add message or notes" %}" name="notes" id="notes" class="incidentText" style="width: 95%;"></textarea>
                        </div>
                        <div class="row" style="width:94%; margin-left:8px;">
                                {% if not disallow_upload_media %}
                            <div class="col-md-4" style="height:120px; background: linear-gradient(0deg, #C6E9FF, white 60%, white); color-stop-length: 100%;">
                                <Label style="position: relative; left: -5px;"><span class="stopitsubtitle" style="margin-left: 14px; font-size: 15px;">{% trans "Add Photo/Video:" %}</span></Label>
                                <div style="height: 70px;">
                                    <img src="{{ Incident_Messenger_Page_PhotoBTN }}" style="margin-left: 35px;" />
                                </div>
                            </div>
                            <div class="col-md-8" style="height:120px; background: linear-gradient(0deg, #C6E9FF,white 60%, white); color-stop-length: 100%;">
                                <div style="height: 70px;">
                                    <input style="overflow-x:hidden; margin-top: 50px;" type="file" multiple name="attachedfiles" id="attachedfiles" MAXLENGTH=50
                                    accept="image/*,.jpg,.JPG,.gif,.GIF,.png,.PNG,.mp4,.MP4,.mp3,.MP3,.mpg,.MPG,video/mp4">
                                </div>
                            </div>
                                {% else %}
                            <div class="col-xs-12">
                                <input type="hidden" value="" id="attachedfiles">
                            </div>
                                {% endif %}

                            <div class="col-xs-12" style="display:table-cell; vertical-align:middle; text-align:center">
                                    {% if report_manager_mandatory == 1 %}
                                    <input type="hidden" name="org_contact_mandatory" value="1" id="org_contact_mandatory">
                                    {% else %}
                                    <input type="hidden" name="org_contact_mandatory" value="0" id="org_contact_mandatory">
                                    {% endif %}
                                    {% for orgcontact in request.session.contacts %}
                                    {% if orgcontact.org_id  != 0 %}
                                    <input name="report_contact" id="orgcontact" value="{{ orgcontact.user_id }}" type="checkbox" checked style="display:none;">
                                    {% endif %}
                                    {% endfor %}
                                <div>
                                    {% if country_code == 'JP' %}
                                    <input type="image" value="{%  trans "Send " %} >" id="submit_incident" src="{{ Incident_Messenger_Page_JPN_SendBTN }}"></input>
                                    {% else %}
                                    <input type="image" value="{%  trans "Send " %} >" id="submit_incident" src="{{ Incident_Messenger_Page_SendBTN }}"></input>
                                    {% endif %}
                                </div>
                                <div style="width:105%;">
                                    <input style="position: relative; top: -12px; display:none;" type="checkbox" class="anonymous" name="is_anonymous" value="1" checked><span style="position: relative; top: -15px; font-family: 'Source Sans Pro'; display:none;">{% trans "Report Anonymously" %}</span></input>
                                <span style="margin-bottom: 10px; float: right;">
                                    <input type="image" id="help_icon" src="{{ WebApp_help_Icon }}"></input>
                                </span>
                                </div>
                            </div>
                        </div><!-- incident report row -->
                    </div><!-- end row-->
                </form>
            </div>
            <!-- end half page column -->
            <div class="no-messenger col-xs-12 col-md-6 customMessengerBox" style="background: linear-gradient(#B2D5EB, white, #B2D5EB) fixed; max-height: 508px; min-width: 400px;">
                <div class="row" style="height: 510px; margin-left: 6px;">
                    <div align="center" style="margin-top: 110px;">
                        <img src="{{ Incident_Messenger_Page_MessengerBTN }}" />
                    </div>
                    <div class="stopitsubtitle" align="center" style="text-align: center; margin: 5px 40px">
                        {% blocktrans %}
                        Messenger interactions will be activated once <strong class="stopitsubtitle" style="white-space: nowrap">{{ ORG_NAME }}</strong> initiates a conversation.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
            <div class="messenger-on col-xs-12 col-md-6 customResourceBox hidden" style="background: linear-gradient(#B2D5EB, white, #B2D5EB) fixed; max-height: 508px; min-width: 400px;">
                <div class="row" style="height: 510px; margin-left: 6px;">
                    <div class="messenger-count badge" id="new_message_count" align="center" style="z-index: 1; background-color: red;"></div>
                    <div align="center" style="margin-top: 110px;">
                        <input id="chatButton2" type="image" src="{{ Incident_Messenger_Page_MessengerBTN }}" {% if is_in_recess or not is_chat_active or after_hours_on %}disabled{% endif %} />
                    </div>
                    <div align="center" style="margin-bottom:10px;">
                        <a class="chatbutton stopitsubtitle" id="chatButton" {% if is_in_recess or not is_chat_active or not after_hours_on %}disabled{% endif %} style="width:250px; color:black;">
                            {% blocktrans %}Connect with<br>{{ ORG_NAME }}<br>Anonymously{% endblocktrans %}
                        </a>
                        <div id="blue_dots">
                             <img src="{{ WebApp_BlueDots }}"/>
                        </div>
                    </div>
                </div>
                <!--end row-->
                <!--<div class="row">-->
                    <div id="messengerWindow" style="display: none;">
                        <div style="position:relative; top:-503px; z-index:3;">
                            <input style="float:right;" type="image" id="close_icon" src="{{ WebApp_closeBTN }}" />
                        </div>
                        <div id="candy"></div>
                    </div>
                <!--</div>-->
                <!--end row-->
            </div>
        <div class="col-xs-4 col-md-4 customResourceBox" style="background: linear-gradient(#B2D5EB, white, #B2D5EB) fixed; max-height: 508px; min-width: 400px;overflow-y: auto;">
            <div class="col-md-7">
                <div class="form-group" style="margin-top: 20px; margin-bottom: 2px;">
                    <span class="stopitsubtitle" style="text-decoration: underline; color: black; font-size: 18px;">{% trans "Resource Name" %}</span>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group" style=" margin-top: 20px; margin-bottom: 2px;">
                    <span class="stopitsubtitle" style="text-decoration:underline; color: black; font-size: 18px;">{% trans "Contact#" %}</span></Label>
                </div>
            </div>
            <hr style="color:black;height:10px">
            {% for gethelp in request.session.gethelp_resources %}
                <div class="col-md-7">
                <div class="form-group" style="margin-top: 5px; margin-bottom: 2px;">
                {% if gethelp.url %}{% if '://' in gethelp.url or 'mailto:' in gethelp.url|lower %}
                    <p id="un"><a href="{{ gethelp.url }}" target="_blank" style="color:blue" >{{ gethelp.name }}</a></p>{% else %}
                    <p id="un"><a href="{{ "http://" }}{{ gethelp.url }}" target="_blank" style="color:blue" >{{ gethelp.name }}</a></p>{% endif %}
                {% else %}
                    <p id="un">{{ gethelp.name }}</p>
                {% endif %}
                </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                <div class="form-group" style=" margin-top: 5px; margin-bottom: 2px;">
                    <span  style="color: black; ">{{ gethelp.phone }}</span></Label>
                </div>
                </div>
                <div class="row"></div>
            {% endfor %}

                <div class="row" style="height: 510px; margin-left: 6px;">
                    <div class="badge" id="resource_id" align="center" style="z-index: 1; background-color: red;"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_footer %}{% endblock %}
