{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block js_header %}
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}

 {% block content %}
    <div class="container">
        <h1 class="onboardingtitle">{% trans "Which describes you?"  %}</h1>
    </div>
    <div class="container wow bounceInUp" data-wow-duration="2s">

        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=1" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{{ school_img }}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; {% trans "I'm in K-12th grade" %}</a> &nbsp;
                    </h3>

                </div>

                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=2" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{{ college_img }}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; {%  trans "I'm in college" %} </a>
                    </h3>
                </div>
                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=3" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{{ work_img }}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; {%  trans "I'm working"%}</a>
                    </h3>
                </div>
                <div class="row stopitline">
                    <h3>
                        <form action="/lang/" method="get">
                            {% csrf_token %}
                        &nbsp;&nbsp; <img src="{{ language_img }}" width="30px" height="20px" class="wow rollIn"> &nbsp;
                            <select name="language" onchange="this.form.submit()">
                            <option value="en" {%  if "en" == LANGUAGE_CODE %} selected {% endif %}>{% trans "English" %}</option>
                            <option value="fr" {%  if "fr" == LANGUAGE_CODE %} selected {% endif %}>{% trans "French" %}</option>
                            <option value="ja" {%  if "ja" == LANGUAGE_CODE %} selected {% endif %}>{% trans "Japanese" %}</option>
                            <option value="es" {%  if "es" == LANGUAGE_CODE %} selected {% endif %}>{% trans "Spanish" %}</option>
                        </select>
                        </form>
                    </h3>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
{% endblock %}
