{% extends "landing.html" %}{% load staticfiles %}{% load i18n %}{% load custom_tags %}
{% block css_header %}
<style type="text/css" rel="stylesheet">
    .text-stopit-blue {
        color: #0F6EAE;
    }
    .access-code-container {
        float: left;
        text-align: center;
    }
    .generate_code {
        line-height: 30px;
        padding: 3px 15px;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
    .copy-text-button {
        float:left;
        text-align: center;
        border-left: solid 1px #EEEEEE;
        line-height: 54px;
    }
    .access-code {
        color: #33CC00;
        font-size: 28px;
        font-weight: bold;
        line-height: 54px;
    }
    .upper {
        text-transform: uppercase;
    }
    .rounded-box {
        display: inline-block;
        border-radius: 8px;
        color: #000000;
    }
    .bg-gray {
        background: #F5F5F5;
    }
    .bg-white {
        background: #FFFFFF;
    }
    .bg-dark-blue {
        background: #0F405F;
    }
    .bg-purple {
        background: #490D67;
    }
    .shadowed {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.50);
    }
    .strong {
        font-weight: bold;
    }
    .text-size-1 {
        font-size: 12px;
    }
    .text-size-2 {
        font-size: 14px;
    }
    .text-size-3 {
        font-size: 18px;
    }
    .text-size-4 {
        font-size: 24px;
    }
    .text-white {
        color: #FFFFFF;
    }
    .block {
        display: inline-block;
    }
    .full-width {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}

    <div class="text-center">
        <div class="new_code" style="display:none">
            <div class="text-center text-stopit-blue strong text-size-3">
                {% trans "Your STOPit access code is:" %}
            </div>
            <div class="half-spacer">&nbsp;</div>
            <div class="rounded-box bg-gray shadowed col-xs-10 col-sm-10 col-md-6 col-lg-3 center">
                <div class="access-code-container" style="width:80%">
                    <div class="access-code text-center"></div>
                </div>
                <div class="copy-text-button" data-clipboard-target=".access-code" style="cursor: pointer; width:20%">
                    {% trans "Copy" %}
                </div>
            </div>

            <div class="half-spacer">&nbsp;</div>
            <div class="rounded-box bg-dark-blue shadowed">
                <div class="generate_code upper text-white" onclick="generateAccessCode('{{ token }}'); return false;">
                    {% trans "Generate a new code" %}
                </div>
            </div>
        </div>
        <div class="welcome">
            <div class="text-center text-stopit-blue strong text-size-3">
                {% trans "Welcome to the STOPit access code generator for" %}<br/>
                {{ org_name }}
            </div>
            <div class="half-spacer">&nbsp;</div>
            <div class="half-spacer">&nbsp;</div>
            <div class="rounded-box bg-purple shadowed" style="clear:both;">
                <div class="generate_code text-white" style="padding:20px 40px;" onclick="generateAccessCode('{{ token }}'); return false;">
                    {% trans "GENERATE YOUR STOPit ACCESS CODE" %}
                </div>
            </div>
            <div class="response-message half-spacer" style="clear:both; color:red;"></div>
        </div>

        <div class="spacer">&nbsp;</div>
        <div class="text-center">
            <div class="center col-md-6 col-lg-3 col-sm-10 col-xs-10">
                {% blocktrans %}
                    Your STOPit access code is what allows you to activate the STOPit app.
                    After downloading STOPit, simply enter the code generated on this page, and you're done!
                    STOPit is activated.
                {% endblocktrans %}
            </div>
        </div>

        <div class="spacer">&nbsp;</div>
        <div class="center-text">
            <img src="{% cache_buster "assets/img/access_code_landing/step1_block.png" %}" class="col-md-2 col-sm-6 col-xs-6 center" />
            <img src="{% cache_buster "assets/img/access_code_landing/step2_block.png" %}" class="col-md-2 col-sm-6 col-xs-6 center" />
            <img src="{% cache_buster "assets/img/access_code_landing/step3_block.png" %}" class="col-md-2 col-sm-6 col-xs-6 center" />
        </div>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="spacer">&nbsp;</div>
    <div class="bg-white full-width text-center">
        <div class="half-spacer">&nbsp;</div>
        <div class="block">
            <div class="hidden-sm hidden-xs" style="float:left; text-align:right;">
                <img src="{% cache_buster "assets/img/access_code_landing/phones.png" %}" style="position:relative; top:-40px; width:200px" />
            </div>
            <div class="hidden-sm hidden-xs" style="float:left">&nbsp;&nbsp;&nbsp;</div>
            <div class="center" style="float:left; text-align:left; width: 400px">
                <div class="text-stopit-blue strong">
                    {% trans "STOPit makes it easy to do the right thing." %}
                </div>
                <span class="strong">
                    {% trans "You can use the STOPit app to:" %}
                </span>
                <ul>
                    <li>
                        {% trans "Anonymously report incidents to your organization" %}
                    </li>
                    <li>
                        {% trans "Reports can include text, photo, or video" %}
                    </li>
                    <li>
                        {% trans "Conduct a two-way anonymous dialog with your organization" %}
                    </li>
                    <li>
                        {% trans "Protect yourself and others from harmful, inappropriate, or unsafe behavior" %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="spacer">&nbsp;</div>
    </div>

{% endblock %}

{% block js_footer %}
<script type="text/javascript">
    new Clipboard('.copy-text-button');

    var generateAccessCode = function(token){
        if (typeof(token) != 'undefined' && token != null){
            var get_access_code_url = '/get_access_code/' + token + '/';

            var generateCodeCallback = function(response){
                var new_access_code = '';
                if (
                        typeof(response) != 'undefined'
                        && typeof(response.data) != 'undefined'
                        && typeof(response.data.random_code) != 'undefined'
                ){
                    new_access_code = response.data.random_code;
                    $('.welcome').hide();
                    $('.new_code').show().find('.access-code').html(new_access_code);
                } else {
                    $('.response-message').html(getText('No access code has been returned.'));
                }
            };

            $.ajax({
                type: 'GET',
                url: get_access_code_url,
                dataType: 'json',
                success: function(response) {
                    processJSONResponse(response, generateCodeCallback);
                },
                error: function(response) {
                    processJSONResponse(response);
                }
            });
        }
    }

    var processJSONResponse = function(response, callback){
        var responseMessage = gettext('There is a problem with your request; try again later.');
        if (typeof(response) != 'undefined' && typeof(response.code) != 'undefined') {
            if (parseInt(response.code) == 100000) {
                if (typeof(callback) == 'function') {
                    callback(response);
                }
            } else {
                if (typeof(response.message) != 'undefined'){
                    responseMessage = gettext(response.message);
                }
                $('.response-message').html(responseMessage);
            }
        } else {
            $('.response-message').html(responseMessage);
        }
    };
</script>
{% endblock %}
