{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <a style="display: block; text-align:center; width: 200px; margin: 0px auto;" href="/">
                        <img src="{{ stopit_img }}" height="40px">
                    </a>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}
{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="onboardingtitle">{% trans "Terms of Use"%}</h1>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 panel">{% autoescape off %}{{ tos }}{% endautoescape %}</div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="halfspacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <nav class="navbar-fixed-bottom navbar-default">

        <form action="/accept_tos/" method="post">{% csrf_token %}
        {% if not accepted_toc %}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>

                    <div class="col-md-6">
                        <input type="submit" value="{% trans "Decline" %}" class="stopitbutton" name="decline" align="left"/>

                        <input type="submit" value="{% trans "I Accept" %}" class="stopitbutton pull-right" name="accept" />
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>

                    <div class="col-md-6">
                        <input type="submit" value="{% trans "Report/Get Help >" %}" class="stopitbutton pull-right" name="accept" />
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
            </div>
        {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6">
                        {% if country_code == 'AU' %}
                        By clicking "I Accept", you also agree to the terms of our <a href="http://www.stopitsolutions.com.au/stopit-full-privacy-policy/" target="_blank">"Privacy Policy"</a>
                        {% else %}
                        {% blocktrans %}By clicking "I Accept", you also agree to the terms of our <a href="http://www.stopitsolutions.com/stopit-full-privacy-policy/" target="_blank">"Privacy Policy"</a>{% endblocktrans %}
                        {% endif %}
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
            </div>
        </form>
    </nav>
{% endblock %}
